<div class="main-div">
  <mat-card class="card">
    <img src="../../assets/images/logoMcBook.png" alt="Logo" class="logo">
    <form class="login-form" [formGroup]="loginFormGroup">
      <mat-form-field class="example-full-width">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario" formControlName="username">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="password" type="password">
      </mat-form-field>

      <button class="example-full-width" [disabled]="loginFormGroup.invalid" mat-raised-button color="primary"
        (click)="login()">Login</button>
    </form>
    <p class="btnRegistro">¿Aún no estás registrado? <a routerLink="/register">Registrarse</a></p>
  </mat-card>
</div>