.background-image{
    background-image:url("src/assets/images/fondo2.jpg") ;
     
    background-size:cover;
    overflow-y: hidden;
    margin: 0px;
    padding: 0px;

    height: 100%;
    width: 100%; 
    position: absolute;
    align-items: center;
}

.background-form{
    margin-top: 100px;
    background-color: rgba(255, 255, 255 ,0.8);
    width: 400px;
    height: 350px;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 10px;
    align-items: center;
}

.form{
    padding: 20px;
}

.btnEnviar{
    margin-left: 150px;
}
