<div class="background-image">
    <div class="container background-form">
        <img src="../../assets/images/logoMcBook.png" alt="logo" class="logo">
        <form>
            <div class="form">
                <label for="username" class="label">Usuario</label>
                <input type="text" class="form-control input" id="username" placeholder="Ingrese un nombre de usuario"
                    required>

                <label for="fullname" class="label">Nombre completo</label>
                <input type="text" class="form-control input" id="fullname" placeholder="Ingrese su nombre completo"
                    required>

                <label for="email" class="label">Correo Electrónico</label>
                <input type="email" class="form-control input" id="email" placeholder="Ingrese su correo electrónico"
                    required>

                <label for="password" class="label">Contraseña</label>
                <input type="password" class="form-control input" id="password" placeholder="Ingrese una contraseña"
                    required>
            </div>
            <button type="submit" class="btn btn-primary btnRegistrarse">Registrarse</button>
        </form>
        <p class="btnIniciarSesion">¿Ya estás registrado? <a routerLink="/login">iniciar sesion</a></p>
    </div>
</div>