.main-div{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.register-form{
    min-width: 150px;
    max-width: 300px;
    width: 100%;
}

.example-full-width{
    width: 100%;
}

.logo{
    padding-bottom: 25px;
    width: 150px;
    display: block;
    margin: auto;
}

.btnLogin{
    margin-top: 10px;
    text-align: center;
}

.title{
    text-align: center;
    font-size: 20px;
}